.number__users-top {
    margin-top: 110px;
    width: 100%;
    text-align: center;
}

.number__users-title {
    color: var(--accent-text);
    font-family: Graphik;
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
}

.number__users__shell-title {
    color: var(--general-text);
    font-family: Graphik;
    font-size: 40px;
    font-weight: 600;
    line-height: 28px;
    margin-top: 30px;
}

/* ------------------------ */
.testimonials__nav {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 50px;
}

.testimonials__prev {
    border-radius: 27px;
    background: var(--accent-text);
    width: 50px;
    height: 50px;
    padding: 16px 15px 16px 15px;
}

.testimonials__next {
    border-radius: 27px;
    background: var(--accent-text);
    width: 50px;
    height: 50px;
    padding: 16px 15px 16px 15px;
}

.testimonials__slider {
    display: flex;
    gap: 30px;
    justify-content: center;
    margin-top: 50px;
}

.swiper-slide {
    width: 390px;
    height: 428px;
}

.testimonials__slide {
    border-radius: 40px;
    background: rgba(0, 118, 254, 0.05);
    display: grid;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}

.testimonials__img {
    width: 100%;
}



.testimonials__star {
    margin-top: 10px;
}



.testimonials__play-img {
    max-width: 42px;
}

.testimonials__play-img>img {
    width: 100%;

}

.testimonials__shell {
    display: flex;
    gap: 20px;
    align-items: end;
}


.testimonials__name {
    color: var(--general-text);
    font-family: Roboto;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    margin-top: 10px;
}

.testimonials__paragraf {
    color: rgba(0, 0, 0, 0.3);
    font-family: Roboto;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
}

.testimonials__star {
    margin-top: 10px;
    width: 100%;
}


.testimonials__quote span {
    width: 330px;
    display: block;
}

.testimonials__quote a {
    color: var(--accent-text);
    font-family: Graphik;
    font-size: 18px;
    font-weight: 600;
    line-height: 20px;
    text-decoration: underline;
}

.testimonials__quote-shell {
    display: flex;
    gap: 14px;
    margin-bottom: 50px;
}