.footer {
    width: 100%;
    border-radius: 40px;
    background: var(--accent-text);
    height: 100%;
    min-height: 340px;
    margin-top: 100px;
}

.footer__inner {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-between;
}

.footer__col {
    margin-top: 40px;
}


.footer__button {
    border-radius: 15px;
    background: var(--general-bg);
    color: var(--accent-text);
    margin-top: 35px;
    width: 242px;
    padding: 15px 40px 15px 40px;
    height: 50px;
    display: flex;
}
.footer__button2 {
    border-radius: 15px;
    background: var(--general-bg);
    color: var(--accent-text);
    margin-top: 35px;
    width: 242px;
    padding: 15px 40px 15px 40px;
    height: 50px;
    display: flex;
    display: none;
}

.footer__button button {
    background: transparent;
}
.footer__button2 button {
    background: transparent;
}

.footer__text {
    color: var(--general-bg);
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    margin-top: 77px;
}

.footer__text-bottom {
    color: rgba(255, 255, 255, 0.5);
    font-family: Graphik;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    width: 329px;
    margin-top: 10px;
}

.footer__list2 {
    display: none;
}

.footer__link {
    color: var(--general-bg);
    font-family: Graphik;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
}


.footer__bottom {
    color: rgba(255, 255, 255, 0.5);
    font-family: Graphik;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    width: 221px;
    margin-top: 75px;
}
.footer__bottom2 {
    color: rgba(255, 255, 255, 0.5);
    font-family: Graphik;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    width: 221px;
    margin-top: 75px;
    display: none;
}

.footer__manager {
    color: var(--general-bg);
    font-family: Graphik;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
}

.footer__col-manager {
    color: var(--general-bg);
    font-family: Roboto;
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
    margin-top: 10px;
}

.footer__support {
    color: var(--general-bg);
    font-family: Graphik;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    margin-top: 43px;
}

.footer__col-tel {
    color: var(--general-bg);
    font-family: Graphik;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    margin-top: 43px;
}

.footer__col-support {
    color: var(--general-bg);
    font-family: Roboto;
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
    margin-top: 15px;
}


.footer__col-button {
    background: transparent;
    border: 3px solid var(--general-bg);
    border-radius: 15px;
    color: var(--general-bg);
    font-family: Graphik;
    font-size: 18px;
    font-weight: 600;
    line-height: 20px;
    padding: 17px 40px 17px 40px;
}
.footer__col-button2 {
    display: none;
    background: transparent;
    border: 3px solid var(--general-bg);
    border-radius: 15px;
    color: var(--general-bg);
    font-family: Graphik;
    font-size: 18px;
    font-weight: 600;
    line-height: 20px;
    padding: 17px 40px 17px 40px;
}

.socials {
    display: flex;
    gap: 65px;
    margin-top: 5px;
}

.socials-list {
    margin-top: 92px;
}

.socials-item {
    margin-bottom: 20px;
}

.socials-item:last-child {
    margin-bottom: 0px;
}


.socials-img {
    max-width: 271.88px;
    width: 100%;
}