.security__top {
    margin-top: 26px;
}


.security__title {
    margin-top: 90px;
    font-family: Graphik;
    font-size: 40px;
    font-weight: 600;
    line-height: 55px;
    color: var(--accent-text);
    text-align: center;
}

.benefits__top {
    display: flex;
    gap: 98px;
    margin-top: 26px;
}

.benefits__img {
    max-width: 512px;
}

.benefits__img>img {
    width: 100%;
}

.benefits__list-item {
    display: flex;
}

.benefits__list-paragraf {
    margin-left: 30px;
    margin-bottom: 60px;
}

.benefits__title {
    font-family: Graphik;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    color: var(--accent-text);
    margin-bottom: 10px;
}

.benefits__text {
    font-family: Graphik;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    max-width: 611px;
    color: var(--title-text);
}